.flight-list-wrapper{
    height: 100px;
    border: 1px solid black;
    margin: 15px 0px;
    display: flex;
}
.image-box-wrapper {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    align-self: center;
    margin:10px;
}
.flight-content-wrapper {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    align-items: center;
}
.flight-company {
    margin: 10px;
}
